<div style="padding:15px;padding-top:140px">
  <img src="{{car.image}}" style="width:95%;">
  <h1>{{car.make}} {{car.model}}</h1>
  <span class="bubble">{{car.type}}</span><span class="bubble">{{car.power}}</span><br>
  <h3>{{car.range}} miles range</h3>
  <h3>${{car.price}}</h3>
  <p>
    {{car.description}}
  </p>
  <button class="btn btn-info" {{action 'addToCart' car}}>Add to Cart</button>
  <button class="btn btn-danger" {{action 'destroyCar' car}}>Remove From Store</button>
  {{update-car car=car updateCar="updateCar"}}
</div>

<div style="padding:15px">
  <h2>Average User Rating: {{log userRating}} {{averageRating}}</h2>
  <h2>Comments</h2>

  {{#each car.comments as |comment|}}
    <div style="background:#d0f1ff;width:95%;padding:5px;margin-top:10px;border-left:1px #999 solid;">
    <p style="padding-left:15px">"{{comment.comment}}" <br><span style="padding-left:30px">by {{comment.author}}</span></p>
    Rated: <span style="font-weight:800">{{comment.rating}}</span> out of 5<br>
    </div>
  {{/each}}
    <br>
    {{new-comment car=car saveComment="saveComment"}}
</div>
