{{#if addNewComment}}
    <form class="form-new-comment">
      <h2 class="form-new-comment-heading">New Comment</h2>
      <label for="author">Your Name</label>
      {{input value=author id="author" class="form-control"}}
      <label for="comment">Your Comment Here</label>
      {{textarea value=comment id="comment" rows="4" class="form-control"}}
      <label for="rating">Rating</label>
      {{#x-select value=rating}}
        {{#x-option value=5}}★★★★★{{/x-option}}
        {{#x-option value=4}}★★★★{{/x-option}}
        {{#x-option value=3}}★★★{{/x-option}}
        {{#x-option value=2}}★★{{/x-option}}
        {{#x-option value=1}}★{{/x-option}}
      {{/x-select}}
      <button class="btn btn-primary"  {{action 'saveComment'}}>Save</button>
    </form>
    {{else}}
    <button class="btn btn-info" {{action "commentFormShow"}}>Add a Comment</button>
  {{/if}}
